ion-img{
    padding: 20% 20% 5% 20%;
}

.btn{
    margin-left: 60%;
}

ion-title{
    text-align: center;
    color: orange;
}

.prh{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: orange;
}

.pr{
    text-align: center;
    margin-bottom: 50px;
}

.pr1{
    text-align: center;
    margin-top: 20px;
}