<ion-header>
  <ion-toolbar color="primary" class="addlist">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-listings"></ion-back-button>
    </ion-buttons>
    <ion-title class="adlisttitle">Add Your list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imageshow">
    <img src="assets/noimage.jpg">
  </div>

  <div class="inputtextarea1">
    <ion-item>
      <ion-textarea class="txt1" placeholder="Enter product name here..."></ion-textarea>
    </ion-item>
  </div>

  <div class="inputtextarea2">
    <ion-item>
      <ion-textarea class="txt2" placeholder="Enter product description here..."></ion-textarea>
    </ion-item>
  </div>

  <div class="inputtextarea3">
    <ion-item>
      <ion-textarea class="txt3" placeholder="Enter product prize here..."></ion-textarea>
    </ion-item>
  </div>

  <div>
    <ion-button class="click" (click)="actionsheet()" expand ="block" shape="round"> Choose product Image</ion-button>
  </div>

    

    
</ion-content>

<ion-footer>
  <div class="footeraddbutton">
    <ion-button shape="round" fill="solid">Done</ion-button>
  </div>
  
</ion-footer>
