ion-title{
    text-align: center;
    color: orange;
}

form{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.text-area{
    margin-left: 20px;
    font-size: 18px;
}

ion-input{
    margin-bottom: 10px;
}