<ion-header>
  <ion-toolbar color="primary" class="addlist">
    
    <ion-title class="adlisttitle">Add Your list</ion-title>
    <ion-icon  name="close"slot="end" (click)="dismiss()" size="large"></ion-icon>
    
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] ="true">
  <div class="imageshow">
    <img src="assets/noimage.jpg">
  </div>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Enter Product Name</ion-label>
      <ion-input  type ="text" [(ngModel)]="taskName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-lable position="floating"> Category </ion-lable>
      <span class="listshow">{{taskType}}</span>
    </ion-item>
    <ion-chip *ngFor="let types of Categories ; let i = index" (click)="selectType(i)">
      <ion-lable>{{types}}</ion-lable>

    </ion-chip>

    <ion-item>
      <ion-label position="floating">Enter Product Price</ion-label>
      <ion-input  type ="number" [(ngModel)]="taskRate"></ion-input>
    </ion-item>

  </ion-card>

  
   
    
  


  <div>
    <ion-button class="click" (click)="actionsheet()" expand ="block" shape="round"> Choose product Image</ion-button>
  </div>

    

    
</ion-content>

<ion-footer>
  <div class="footeraddbutton">
    <ion-button shape="round" fill="solid" (click)="AddTask()">Done</ion-button>
  </div>
  
</ion-footer>
