.addlist{
    text-align: center;
}
.addlist .adlisttitle{
    margin-left: -1px;
}

.imageshow{
    height: 200px;
    width: 300px;
    border: blueviolet;
    border-radius: 2ex;
}

.footeraddbutton{
   // align-items: flex-end
   float:right;
}