<<<<<<< HEAD
ion-toolbar{
    --background:blue;
    font-size: large;
    
=======

#head{
    --background:blue;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.upload{
    background-color: antiquewhite;
}

.btn1{
    margin: 25px;
    padding: 10px;
    align-items: center;
}

.btn2{
    margin: 25px;
    padding: 10px;
    align-items: center;
>>>>>>> c64bc4719bf104bf24eaef2d3c5e178dec1fe233
}
