<ion-header>
  <ion-toolbar id="head">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form #loginForm="ngForm">
    
    <ion-toolbar class="upload">
      <ion-buttons>

        <button ion-button icon-left (click)="presentActionSheet()" class="btn1">
          <ion-icon name="camera"></ion-icon>Select Image
        </button>

        <button ion-button icon-left (click)="uploadImage()" 
        [disabled]="lastImage=== null" class="btn2">
          <ion-icon name="cloud-upload"></ion-icon>Upload
        </button>

      </ion-buttons>
    </ion-toolbar>
    <ion-list lines="none">
      <ion-item lines="none">
        <p class="intro">Name</p>
      </ion-item>
      <ion-item lines="full">
        <ion-input [(ngModel)]="name" placeholder="Enter Name" name="name"  type="text" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <p  class="intro">Email</p>
      </ion-item>
      <ion-item lines="full" >
        <ion-input [(ngModel)]="email" placeholder="Enter Email" name="email" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <p  class="intro">Phone</p>
      </ion-item>
      <ion-item lines="full" >
        <ion-input [(ngModel)]="phone" placeholder="Enter Phone Number" name="phone" required></ion-input>
      </ion-item>
     
    </ion-list>
  
    <ion-row class="Ion-no-margin ion-no-padding">
      <ion-col class="Ion-no-margin ion-no-padding">
        <ion-button class="btn_class" (click)="onLogin(loginForm)" color="secondary" type="submit" expand="block">
          UPDATE PROFILE 
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>
