<ion-header>
  <ion-toolbar>
    <ion-title>Home test</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" showCancelButton="never"></ion-searchbar>
  <ion-list>
    <ion-card>
      <ion-item *ngFor="let item of searchedItem">
        <ion-thumbnail>
          <ion-img src={{item.image}}></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2 id="name">Name : {{item.title}} </h2>
          <h2> Item type : {{item.veg}} </h2>
          <h2> Rate for 1kg : {{item.rate}} </h2>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
