<ion-header>
  <ion-toolbar color="primary" class="listmenu">
    <ion-title>mylistings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card class="cardstart">
    <ion-card-content class="contentstart">
      <ion-item>
        <div class="image">
          <img src="assets/mylistImage/Cucumbera.jpg">
        </div>
       <div class="labletext">
        <ion-label >
          <h3>Cucumbera</h3>
             <h3> 1Kg = Rs 100</h3>
        </ion-label>
       </div>
       
        <div class="shoppingbutton">
          <ion-button (click)="onClick()" fill="clear">
            <ion-icon name="cart"></ion-icon>  
          </ion-button>
          </div>
      </ion-item>
    </ion-card-content>  
  </ion-card>


  <ion-card class="cardstart">
    <ion-card-content class="contentstart">
      <ion-item>
        <div class="image">
          <img src="assets/mylistImage/tomato.jpg">
        </div>
       <div class="labletext">
        <ion-label >
          <h3>Tomato</h3>
             <h3> 1Kg = Rs 50</h3>
        </ion-label>
       </div>
       
        <div class="shoppingbutton">
          <ion-button (click)="onClick()" fill="clear">
            <ion-icon name="cart"></ion-icon>  
          </ion-button>
          </div>
      </ion-item>
    </ion-card-content>  
  </ion-card>

  
</ion-content>

<ion-footer>
<div class="footerbutton">
<ion-button full round (click)='getaddform()'> Add New Item </ion-button>
</div>
</ion-footer>
