<ion-header>
  <ion-toolbar color="primary" class="listmenu">
    <ion-title>mylistings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of todolist">
    <ion-card-header>
      <ion-card-subtittle>
        {{item.itemName}}
      </ion-card-subtittle> 
      
    </ion-card-header>
    <ion-card-content class="text11">
      <ion-row>
        <ion-item><ion-lable>{{item.itemType}}</ion-lable></ion-item>
        <ion-item><ion-lable>{{item.itemRate}}</ion-lable></ion-item>
      </ion-row>
      
    </ion-card-content>
  </ion-card>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addTask()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  </ion-fab>
</ion-content>

