<ion-header>
  <ion-toolbar>
    <ion-title size="large">My Listings</ion-title>
      <ion-button color="warning" class="home" routerLink="../home" slot="end">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card" *ngFor="let item of data"
      routerLink="/detail/{{item.id}}">
        <ion-thumbnail>
          <ion-img  class="img" [src]="item.image"></ion-img>
        </ion-thumbnail>
        <div style="padding-left: 70px;">
          <ion-label>
            <h2>{{ item.itemName}}</h2>
            <p>Item Price: Rs.{{ item.itemPrice }}</p>
          </ion-label>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button color="warning" class="add" (click)="addItem()">Add New</ion-button>
</ion-footer>
