.container{
    width: 100%;
    padding: 20px;

    ion-label {
        display: block;
    }

    .card{
        border-radius: 10px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
        margin-top: 15px;
        position: relative;


        padding-top:10px;
        padding-left:10px;

        display: flex;
        flex-direction: row;
        height: 120px;
    }

    .img{
        height: 100px;
            width: 100px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
    }
}

ion-title{
    text-align: center;
    color: orange;
}

.add{
    margin-left: 270px;
}