<ion-header>
  <ion-toolbar>
      <ion-button color ="warning" class="login" routerLink="../login" slot="end">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides mode="md" [options]="slideOpts">
    <ion-slide>
      <div class="emailForm">
        <h2 class="ion-text-center header_lbl" >Sign Up</h2>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col> 
            <ion-button class="btn_class" color="secondary"  type="submit" (click)="register()" expand="block">Register</ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
